body {
    margin: 0;
    padding: 0;
}

#page {
    height: 100vh;
    font-family: DSEG14-Classic;
}

.night {
    background-color: black;
    color: whitesmoke;
}

.day {
    background-color: whitesmoke;
    color: black;
}

#speed-container {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 10vh;

    font-size: 70vh;
    text-align: justify;
}

#max-speed-container {
    position: absolute;
    top: 5px;
    left: 5px;
}

#status-container {
    position: absolute;
    top: 5px;
    right: 5px;

    text-align: right;
    line-height: 1.5em;
    vertical-align: middle;
}

#units-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#speed-limit-container {
    position: absolute;
    bottom: 5px;
    left: 5px;
}